In [3]:
import azureml.dataprep as dprep

In [4]:
dataset_root = "https://dprepdata.blob.core.windows.net/demo"

green_path = "/".join([dataset_root, "green-small/*"])
yellow_path = "/".join([dataset_root, "yellow-small/*"])

green_df = dprep.read_csv(path=green_path, header=dprep.PromoteHeadersMode.GROUPED)
# auto_read_file will automatically identify and parse the file type, and is useful if you don't know the file type
yellow_df = dprep.auto_read_file(path=yellow_path)

display(green_df.head(5))
display(yellow_df.head(5))

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,Column21,Column22
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0,0,0,0,1,...,0,0,0,0,,21.25,2,,,
2,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0,0,0,0,2,...,0,0.5,0,0,,75,2,,,
3,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0,0,0,0,1,...,0.1,0,0,1,,2.1,2,,,
4,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0,0,0,0,1,...,0,0,0,0,,3.25,2,,,

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
0,,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.6299999999999999,-73.991956999999999,40.721567,,,-73.993803,40.695922000000003,CASH,8.9000000000000004,0.5,,0,0,9.4000000000000004
2,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.5499999999999998,-73.982101999999998,40.736289999999997,,,-73.955849999999998,40.768030000000003,Credit,12.1,0.5,,2,0,14.6
3,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587000000005,40.739747999999999,,,-73.869983000000005,40.770225000000003,Credit,23.699999999999999,0,,4.7400000000000002,0,28.440000000000001
4,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5,-73.974266999999998,40.790954999999997,,,-73.996557999999993,40.731848999999997,CREDIT,14.9,0.5,,3.0499999999999998,0,18.449999999999999

In [5]:
all_columns = dprep.ColumnSelector(term=".*", use_regex=True)
drop_if_all_null = [all_columns, dprep.ColumnRelationship(dprep.ColumnRelationship.ALL)]
useful_columns = [
    "cost", "distance", "dropoff_datetime", "dropoff_latitude", "dropoff_longitude",
    "passengers", "pickup_datetime", "pickup_latitude", "pickup_longitude", "store_forward", "vendor"
]

In [6]:
tmp_df = (green_df
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "VendorID": "vendor",
        "lpep_pickup_datetime": "pickup_datetime",
        "Lpep_dropoff_datetime": "dropoff_datetime",
        "lpep_dropoff_datetime": "dropoff_datetime",
        "Store_and_fwd_flag": "store_forward",
        "store_and_fwd_flag": "store_forward",
        "Pickup_longitude": "pickup_longitude",
        "Pickup_latitude": "pickup_latitude",
        "Dropoff_longitude": "dropoff_longitude",
        "Dropoff_latitude": "dropoff_latitude",
        "Passenger_count": "passengers",
        "Fare_amount": "cost",
        "Trip_distance": "distance"
     })
    .keep_columns(columns=useful_columns))
tmp_df.head(5)

,vendor,pickup_datetime,dropoff_datetime,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,0,0,0,0,1,.00,21.25
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,0,0,0,0,2,.00,74.5
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,0,0,0,0,1,.00,1
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,0,0,0,0,1,.00,3.25
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,0,0,0,0,1,.00,8.5

In [7]:
green_df = tmp_df

In [8]:
tmp_df = (yellow_df
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "vendor_name": "vendor",
        "VendorID": "vendor",
        "vendor_id": "vendor",
        "Trip_Pickup_DateTime": "pickup_datetime",
        "tpep_pickup_datetime": "pickup_datetime",
        "Trip_Dropoff_DateTime": "dropoff_datetime",
        "tpep_dropoff_datetime": "dropoff_datetime",
        "store_and_forward": "store_forward",
        "store_and_fwd_flag": "store_forward",
        "Start_Lon": "pickup_longitude",
        "Start_Lat": "pickup_latitude",
        "End_Lon": "dropoff_longitude",
        "End_Lat": "dropoff_latitude",
        "Passenger_Count": "passengers",
        "passenger_count": "passengers",
        "Fare_Amt": "cost",
        "fare_amount": "cost",
        "Trip_Distance": "distance",
        "trip_distance": "distance"
    })
    .keep_columns(columns=useful_columns))
tmp_df.head(5)

,vendor,pickup_datetime,dropoff_datetime,passengers,distance,pickup_longitude,pickup_latitude,store_forward,dropoff_longitude,dropoff_latitude,cost
0,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.6299999999999999,-73.991956999999999,40.721567,None,-73.993803,40.695922000000003,8.9000000000000004
1,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.5499999999999998,-73.982101999999998,40.736289999999997,None,-73.955849999999998,40.768030000000003,12.1
2,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587000000005,40.739747999999999,None,-73.869983000000005,40.770225000000003,23.699999999999999
3,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5,-73.974266999999998,40.790954999999997,None,-73.996557999999993,40.731848999999997,14.9
4,DDS,2009-01-24 16:18:23,2009-01-24 16:24:56,1,0.40000000000000002,-74.001580000000004,40.719382000000003,None,-74.008377999999993,40.720350000000003,3.7000000000000002

In [9]:
yellow_df = tmp_df
combined_df = green_df.append_rows([yellow_df])

In [10]:
decimal_type = dprep.TypeConverter(data_type=dprep.FieldType.DECIMAL)
combined_df = combined_df.set_column_types(type_conversions={
    "pickup_longitude": decimal_type,
    "pickup_latitude": decimal_type,
    "dropoff_longitude": decimal_type,
    "dropoff_latitude": decimal_type
})
combined_df.keep_columns(columns=[
    "pickup_longitude", "pickup_latitude", 
    "dropoff_longitude", "dropoff_latitude"
]).get_profile()

ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -115.17933654785156
    max: 0.0
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -88.1140462776958
           1%: -73.96184046123078
           5%: -73.96196409651695
          25%: -73.94769300154304
          50%: -73.92209687520713
          75%: -73.84666992515079
          95%: 0.0
          99%: 0.0
        99.9%: 0.0

    mean: -68.83357924322624
    std: 18.792671842677194
    variance: 353.1645149865522
    skewness: 3.3699704814278384
    kurtosis: 9.475822408116898

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 0.0
    max: 40.91912078857422
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 40.68288894849967
           5%: 40.67554111480711
          25%: 40.721075431323555
          50%: 40.756158628852226
          75%: 40.80390908468158
          95%: 40.849406187839264
          99%: 40.87068071395632
        99.9%: 40.89124402664647

    mean: 37.93674176307772
    std: 10.345967255309299
    variance: 107.03903844793221
    skewness: -3.3910335057674446
    kurtosis: 9.507614952893944

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -115.17933654785156
    max: 0.0
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -87.69961085752014
           1%: -73.98473387307982
           5%: -73.98577710430992
          25%: -73.95625030004503
          50%: -73.92894826081373
          75%: -73.866208351984
          95%: 0.0
          99%: 0.0
        99.9%: 0.0

    mean: -68.89697757926986
    std: 18.696525543314273
    variance: 349.5600673918031
    skewness: 3.393537469556304
    kurtosis: 9.637674744553701

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 0.0
    max: 41.008934020996094
    count: 7722.0
    missing_count: 0.0
    not_missing_count: 7722.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 40.662762631425636
           5%: 40.6548512816144
          25%: 40.71782113005021
          50%: 40.75653428947139
          75%: 40.784687939420145
          95%: 40.8524372604658
          99%: 40.87928928908481
        99.9%: 40.93729065146813

    mean: 37.963773902752784
    std: 10.290780181747312
    variance: 105.90015674904323
    skewness: -3.414918339085695
    kurtosis: 9.670385703344062

In [11]:
tmp_df = (combined_df
    .drop_nulls(
        columns=["pickup_longitude", "pickup_latitude", "dropoff_longitude", "dropoff_latitude"],
        column_relationship=dprep.ColumnRelationship(dprep.ColumnRelationship.ANY)
    ) 
    .filter(dprep.f_and(
        dprep.col("pickup_longitude") <= -73.72,
        dprep.col("pickup_longitude") >= -74.09,
        dprep.col("pickup_latitude") <= 40.88,
        dprep.col("pickup_latitude") >= 40.53,
        dprep.col("dropoff_longitude") <= -73.72,
        dprep.col("dropoff_longitude") >= -74.09,
        dprep.col("dropoff_latitude") <= 40.88,
        dprep.col("dropoff_latitude") >= 40.53
    )))
tmp_df.keep_columns(columns=[
    "pickup_longitude", "pickup_latitude", 
    "dropoff_longitude", "dropoff_latitude"
]).get_profile()

ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07631370966985
           1%: -73.9625417826972
           5%: -73.96289280187659
          25%: -73.94897526011049
          50%: -73.92785596940737
          75%: -73.86666217823169
          95%: -73.83043796475843
          99%: -73.82315963407392
        99.9%: -73.7697500491672

    mean: -73.91386493958264
    std: 0.04871109408945094
    variance: 0.002372770687391343
    skewness: 0.40269738982876896
    kurtosis: -0.6135155980288367

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63288361049421
           1%: 40.71310498754009
           5%: 40.711600486268395
          25%: 40.72140272221352
          50%: 40.75814186452434
          75%: 40.805145385926856
          95%: 40.848855107287775
          99%: 40.86756701007114
        99.9%: 40.87769007730938

    mean: 40.76522599299848
    std: 0.048348486975952946
    variance: 0.002337576192863892
    skewness: 0.22808816936950824
    kurtosis: -0.5988623711401839

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07882847417197
           1%: -73.9856499467987
           5%: -73.98581267588766
          25%: -73.95904087560866
          50%: -73.93668113941756
          75%: -73.88484552601459
          95%: -73.815507217908
          99%: -73.77669676636948
        99.9%: -73.73347148887557

    mean: -73.92071783817232
    std: 0.05596095716658376
    variance: 0.003131628727000222
    skewness: 0.648648946871952
    kurtosis: 0.022914068468275595

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59774122979339
           1%: 40.69537609148018
           5%: 40.695114665492476
          25%: 40.72754927370802
          50%: 40.758160378291606
          75%: 40.788378073909165
          95%: 40.85037214749771
          99%: 40.867968246603375
        99.9%: 40.878585531071245

    mean: 40.7594872258256
    std: 0.05046209380939558
    variance: 0.0025464229116282395
    skewness: 0.048417933848660985
    kurtosis: -0.0368799343056212

In [12]:
combined_df = tmp_df

In [13]:
combined_df.keep_columns(columns='store_forward').get_profile()

ColumnProfile
    name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7059.0
    missing_count: 99.0
    not_missing_count: 6960.0
    percent_missing: 0.014024649383765405
    error_count: 0.0
    empty_count: 0.0

In [14]:
combined_df = combined_df.replace(columns="store_forward", find="0", replace_with="N").fill_nulls("store_forward", "N")

In [15]:
combined_df = combined_df.replace(columns="distance", find=".00", replace_with=0).fill_nulls("distance", 0)
combined_df = combined_df.to_number(["distance"])

In [16]:
tmp_df = (combined_df
    .split_column_by_example(source_column="pickup_datetime")
    .split_column_by_example(source_column="dropoff_datetime"))
tmp_df.head(5)

,vendor,pickup_datetime,pickup_datetime_1,pickup_datetime_2,dropoff_datetime,dropoff_datetime_1,dropoff_datetime_2,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 17:22:00,2013-08-01,17:22:00,2013-08-01 17:22:00,2013-08-01,17:22:00,N,-73.937767,40.758480,-73.937767,40.758480,1,0.0,2.5
1,2,2013-08-01 17:24:00,2013-08-01,17:24:00,2013-08-01 17:25:00,2013-08-01,17:25:00,N,-73.937927,40.757843,-73.937927,40.757843,1,0.0,2.5
2,2,2013-08-06 06:51:19,2013-08-06,06:51:19,2013-08-06 06:51:36,2013-08-06,06:51:36,N,-73.937721,40.758404,-73.937721,40.758369,1,0.0,3.3
3,2,2013-08-06 13:26:34,2013-08-06,13:26:34,2013-08-06 13:26:57,2013-08-06,13:26:57,N,-73.937691,40.758419,-73.937790,40.758358,1,0.0,3.3
4,2,2013-08-06 13:27:53,2013-08-06,13:27:53,2013-08-06 13:28:08,2013-08-06,13:28:08,N,-73.937805,40.758396,-73.937775,40.758450,1,0.0,3.3

In [17]:
tmp_df_renamed = (tmp_df
    .rename_columns(column_pairs={
        "pickup_datetime_1": "pickup_date",
        "pickup_datetime_2": "pickup_time",
        "dropoff_datetime_1": "dropoff_date",
        "dropoff_datetime_2": "dropoff_time"
    }))
tmp_df_renamed.head(5)

,vendor,pickup_datetime,pickup_date,pickup_time,dropoff_datetime,dropoff_date,dropoff_time,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 17:22:00,2013-08-01,17:22:00,2013-08-01 17:22:00,2013-08-01,17:22:00,N,-73.937767,40.758480,-73.937767,40.758480,1,0.0,2.5
1,2,2013-08-01 17:24:00,2013-08-01,17:24:00,2013-08-01 17:25:00,2013-08-01,17:25:00,N,-73.937927,40.757843,-73.937927,40.757843,1,0.0,2.5
2,2,2013-08-06 06:51:19,2013-08-06,06:51:19,2013-08-06 06:51:36,2013-08-06,06:51:36,N,-73.937721,40.758404,-73.937721,40.758369,1,0.0,3.3
3,2,2013-08-06 13:26:34,2013-08-06,13:26:34,2013-08-06 13:26:57,2013-08-06,13:26:57,N,-73.937691,40.758419,-73.937790,40.758358,1,0.0,3.3
4,2,2013-08-06 13:27:53,2013-08-06,13:27:53,2013-08-06 13:28:08,2013-08-06,13:28:08,N,-73.937805,40.758396,-73.937775,40.758450,1,0.0,3.3

In [18]:
combined_df = tmp_df_renamed
combined_df.get_profile()

ColumnProfile
    name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_datetime
    type: FieldType.STRING

    min: 2009-01-01 20:52:58
    max: 2013-08-31 23:59:14
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_date
    type: FieldType.STRING

    min: 2009-01-01
    max: 2013-08-31
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_time
    type: FieldType.STRING

    min: 00:00:48
    max: 23:59:48
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_datetime
    type: FieldType.STRING

    min: 2009-01-01 21:14:00
    max: 2013-09-01 00:25:07
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_date
    type: FieldType.STRING

    min: 2009-01-01
    max: 2013-09-01
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_time
    type: FieldType.STRING

    min: 00:00:00
    max: 23:59:45
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07631370966985
           1%: -73.9625417826972
           5%: -73.96289280187659
          25%: -73.94897526011049
          50%: -73.92785596940737
          75%: -73.86666217823169
          95%: -73.83043796475843
          99%: -73.82315963407392
        99.9%: -73.7697500491672

    mean: -73.91386493958264
    std: 0.04871109408945094
    variance: 0.002372770687391343
    skewness: 0.40269738982876896
    kurtosis: -0.6135155980288367

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63288361049421
           1%: 40.71310498754009
           5%: 40.711600486268395
          25%: 40.72140272221352
          50%: 40.75814186452434
          75%: 40.805145385926856
          95%: 40.848855107287775
          99%: 40.86756701007114
        99.9%: 40.87769007730938

    mean: 40.76522599299848
    std: 0.048348486975952946
    variance: 0.002337576192863892
    skewness: 0.22808816936950824
    kurtosis: -0.5988623711401839

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07882847417197
           1%: -73.9856499467987
           5%: -73.98581267588766
          25%: -73.95904087560866
          50%: -73.93668113941756
          75%: -73.88484552601459
          95%: -73.815507217908
          99%: -73.77669676636948
        99.9%: -73.73347148887557

    mean: -73.92071783817232
    std: 0.05596095716658376
    variance: 0.003131628727000222
    skewness: 0.648648946871952
    kurtosis: 0.022914068468275595

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59774122979339
           1%: 40.69537609148018
           5%: 40.695114665492476
          25%: 40.72754927370802
          50%: 40.758160378291606
          75%: 40.788378073909165
          95%: 40.85037214749771
          99%: 40.867968246603375
        99.9%: 40.878585531071245

    mean: 40.7594872258256
    std: 0.05046209380939558
    variance: 0.0025464229116282395
    skewness: 0.048417933848660985
    kurtosis: -0.0368799343056212

ColumnProfile
    name: passengers
    type: FieldType.STRING

    min: 1
    max: 6
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: distance
    type: FieldType.DECIMAL

    min: 0.0
    max: 32.34
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.8891197318007662
          50%: 2.0129284221525596
          75%: 4.227817834241289
          95%: 10.109608002392338
          99%: 14.632077564102559
        99.9%: 21.853267220779152

    mean: 3.087386315342124
    std: 3.2959621233744296
    variance: 10.86336631871888
    skewness: 1.924264558987612
    kurtosis: 5.077200079122136

ColumnProfile
    name: cost
    type: FieldType.STRING

    min: 0
    max: 90
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0

# Transform data

In [19]:
tmp_df = (combined_df
    .derive_column_by_example(
        source_columns="pickup_date", 
        new_column_name="pickup_weekday", 
        example_data=[("2009-01-04", "Sunday"), ("2013-08-22", "Thursday")]
    )
    .derive_column_by_example(
        source_columns="dropoff_date",
        new_column_name="dropoff_weekday",
        example_data=[("2013-08-22", "Thursday"), ("2013-11-03", "Sunday")]
    )

    .split_column_by_example(source_column="pickup_time")
    .split_column_by_example(source_column="dropoff_time")
    # the following two split_column_by_example calls reference the generated column names from the above two calls
    .split_column_by_example(source_column="pickup_time_1")
    .split_column_by_example(source_column="dropoff_time_1")
    .drop_columns(columns=[
        "pickup_date", "pickup_time", "dropoff_date", "dropoff_time", 
        "pickup_date_1", "dropoff_date_1", "pickup_time_1", "dropoff_time_1"
    ])

    .rename_columns(column_pairs={
        "pickup_date_2": "pickup_month",
        "pickup_date_3": "pickup_monthday",
        "pickup_time_1_1": "pickup_hour",
        "pickup_time_1_2": "pickup_minute",
        "pickup_time_2": "pickup_second",
        "dropoff_date_2": "dropoff_month",
        "dropoff_date_3": "dropoff_monthday",
        "dropoff_time_1_1": "dropoff_hour",
        "dropoff_time_1_2": "dropoff_minute",
        "dropoff_time_2": "dropoff_second"
    }))

tmp_df.head(5)

,vendor,pickup_datetime,pickup_weekday,pickup_hour,pickup_minute,pickup_second,dropoff_datetime,dropoff_weekday,dropoff_hour,dropoff_minute,dropoff_second,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 17:22:00,Thursday,17,22,00,2013-08-01 17:22:00,Thursday,17,22,00,N,-73.937767,40.758480,-73.937767,40.758480,1,0.0,2.5
1,2,2013-08-01 17:24:00,Thursday,17,24,00,2013-08-01 17:25:00,Thursday,17,25,00,N,-73.937927,40.757843,-73.937927,40.757843,1,0.0,2.5
2,2,2013-08-06 06:51:19,Tuesday,06,51,19,2013-08-06 06:51:36,Tuesday,06,51,36,N,-73.937721,40.758404,-73.937721,40.758369,1,0.0,3.3
3,2,2013-08-06 13:26:34,Tuesday,13,26,34,2013-08-06 13:26:57,Tuesday,13,26,57,N,-73.937691,40.758419,-73.937790,40.758358,1,0.0,3.3
4,2,2013-08-06 13:27:53,Tuesday,13,27,53,2013-08-06 13:28:08,Tuesday,13,28,08,N,-73.937805,40.758396,-73.937775,40.758450,1,0.0,3.3

In [20]:
tmp_df = tmp_df.drop_columns(columns=["pickup_datetime", "dropoff_datetime"])

In [21]:
type_infer = tmp_df.builders.set_column_types()
type_infer.learn()
type_infer

Column types conversion candidates:
'pickup_weekday': [FieldType.STRING],
'pickup_hour': [FieldType.DECIMAL],
'pickup_longitude': [FieldType.DECIMAL],
'passengers': [FieldType.DECIMAL],
'pickup_minute': [FieldType.DECIMAL],
'store_forward': [FieldType.STRING],
'dropoff_weekday': [FieldType.STRING],
'dropoff_hour': [FieldType.DECIMAL],
'pickup_latitude': [FieldType.DECIMAL],
'distance': [FieldType.DECIMAL],
'pickup_second': [FieldType.DECIMAL],
'dropoff_longitude': [FieldType.DECIMAL],
'cost': [FieldType.DECIMAL],
'dropoff_minute': [FieldType.DECIMAL],
'dropoff_second': [FieldType.DECIMAL],
'vendor': [FieldType.STRING],
'dropoff_latitude': [FieldType.DECIMAL]

In [22]:
tmp_df = type_infer.to_dataflow()
tmp_df.get_profile()

ColumnProfile
    name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_hour
    type: FieldType.DECIMAL

    min: 0.0
    max: 23.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 3.5752283522104507
           5%: 3.0
          25%: 9.911063829787235
          50%: 15.932650462962965
          75%: 19.0
          95%: 22.02253132832079
          99%: 23.0
        99.9%: 23.0

    mean: 14.232610851395394
    std: 6.3492619547979405
    variance: 40.313127370644565
    skewness: -0.6933346236330169
    kurtosis: -0.45933637654018833

ColumnProfile
    name: pickup_minute
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.32313238004232
           5%: 4.923076923076923
          25%: 14.22138158887246
          50%: 29.524351150387936
          75%: 44.643550881534175
          95%: 56.37669894736841
          99%: 58.97980158730159
        99.9%: 59.0

    mean: 29.463521745289782
    std: 17.43961511160089
    variance: 304.1401752407781
    skewness: 0.004403235186436642
    kurtosis: -1.2045825872291442

ColumnProfile
    name: pickup_second
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 4.992863568215893
           5%: 4.919540229885057
          25%: 14.612145838603592
          50%: 29.923913056037986
          75%: 44.52206918340458
          95%: 56.67923258774323
          99%: 59.0
        99.9%: 59.0

    mean: 29.62246777163907
    std: 17.386831494248195
    variance: 302.30190940938087
    skewness: -0.022746584878602084
    kurtosis: -1.194086022369568

ColumnProfile
    name: dropoff_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_hour
    type: FieldType.DECIMAL

    min: 0.0
    max: 23.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 3.232172208560535
           5%: 2.933333333333334
          25%: 9.923335054207538
          50%: 15.913497390007455
          75%: 19.0
          95%: 22.2738821600947
          99%: 23.0
        99.9%: 23.0

    mean: 14.181470463238407
    std: 6.455775577121015
    variance: 41.67703830215217
    skewness: -0.6910013185430696
    kurtosis: -0.5002151925128597

ColumnProfile
    name: dropoff_minute
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.106397306397308
           5%: 5.0
          25%: 14.205104167893442
          50%: 29.078992484013884
          75%: 44.29369134145639
          95%: 56.633802040253634
          99%: 58.99841716968478
        99.9%: 59.0

    mean: 29.353024507720626
    std: 17.424053976460392
    variance: 303.59765697460523
    skewness: 0.014256204213822449
    kurtosis: -1.2153056342997897

ColumnProfile
    name: dropoff_second
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.033732868052396
           5%: 5.0
          25%: 14.747134909031837
          50%: 29.597996746090672
          75%: 45.321600541894085
          95%: 56.1043978748524
          99%: 58.97276759884281
        99.9%: 59.0

    mean: 29.79232185862021
    std: 17.481000267086447
    variance: 305.58537033787644
    skewness: -0.028131321936678208
    kurtosis: -1.2196460943795095

ColumnProfile
    name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07631370966985
           1%: -73.9625417826972
           5%: -73.96289280187659
          25%: -73.94897526011049
          50%: -73.92785596940737
          75%: -73.86666217823169
          95%: -73.83043796475843
          99%: -73.82315963407392
        99.9%: -73.7697500491672

    mean: -73.91386493958264
    std: 0.04871109408945094
    variance: 0.002372770687391343
    skewness: 0.40269738982876896
    kurtosis: -0.6135155980288367

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63288361049421
           1%: 40.71310498754009
           5%: 40.711600486268395
          25%: 40.72140272221352
          50%: 40.75814186452434
          75%: 40.805145385926856
          95%: 40.848855107287775
          99%: 40.86756701007114
        99.9%: 40.87769007730938

    mean: 40.76522599299848
    std: 0.048348486975952946
    variance: 0.002337576192863892
    skewness: 0.22808816936950824
    kurtosis: -0.5988623711401839

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07882847417197
           1%: -73.9856499467987
           5%: -73.98581267588766
          25%: -73.95904087560866
          50%: -73.93668113941756
          75%: -73.88484552601459
          95%: -73.815507217908
          99%: -73.77669676636948
        99.9%: -73.73347148887557

    mean: -73.92071783817232
    std: 0.05596095716658376
    variance: 0.003131628727000222
    skewness: 0.648648946871952
    kurtosis: 0.022914068468275595

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59774122979339
           1%: 40.69537609148018
           5%: 40.695114665492476
          25%: 40.72754927370802
          50%: 40.758160378291606
          75%: 40.788378073909165
          95%: 40.85037214749771
          99%: 40.867968246603375
        99.9%: 40.878585531071245

    mean: 40.7594872258256
    std: 0.05046209380939558
    variance: 0.0025464229116282395
    skewness: 0.048417933848660985
    kurtosis: -0.0368799343056212

ColumnProfile
    name: passengers
    type: FieldType.DECIMAL

    min: 1.0
    max: 6.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 5.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 2.3297917552061156
    std: 1.7997766302118896
    variance: 3.239195918656865
    skewness: 0.8340985645144754
    kurtosis: -1.1111097095315299

ColumnProfile
    name: distance
    type: FieldType.DECIMAL

    min: 0.0
    max: 32.34
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.8891197318007662
          50%: 2.0129284221525596
          75%: 4.227817834241289
          95%: 10.109608002392338
          99%: 14.632077564102559
        99.9%: 21.853267220779152

    mean: 3.087386315342124
    std: 3.2959621233744296
    variance: 10.86336631871888
    skewness: 1.924264558987612
    kurtosis: 5.077200079122136

ColumnProfile
    name: cost
    type: FieldType.DECIMAL

    min: 0.0
    max: 444.0
    count: 7059.0
    missing_count: 0.0
    not_missing_count: 7059.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 3.0180822649572656
           5%: 3.0125
          25%: 5.915451150004527
          50%: 9.490553841275261
          75%: 16.581562244062244
          95%: 33.56382066951073
          99%: 51.992409200968524
        99.9%: 81.13681176470527

    mean: 12.911225386032
    std: 11.64471948001604
    variance: 135.599491768265
    skewness: 8.684200777604197
    kurtosis: 269.81754443324434

In [23]:
tmp_df = tmp_df.filter(dprep.col("distance") > 0)
tmp_df = tmp_df.filter(dprep.col("cost") > 0)

In [24]:
import os
file_path = os.path.join(os.getcwd(), "dflows.dprep")

dflow_prepared = tmp_df
package = dprep.Package([dflow_prepared])
package.save(file_path)

Package
  name: None
  path: C:\Users\samanoh\Downloads\pytest\dflows.dprep
  dataflows: [
    Dataflow {
      name: dataflow
      steps: 31
    },
  ]

# Train data

In [1]:
import azureml.core
import pandas as pd
from azureml.core.workspace import Workspace
from azureml.train.automl.run import AutoMLRun
import time
import logging
import os

C:\Users\samanoh\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [31]:
ws = Workspace.from_config()
# choose a name for the run history container in the workspace
experiment_name = 'automated-ml-regression'
# project folder
project_folder = './automated-ml-regression'

output = {}
output['SDK version'] = azureml.core.VERSION
#output['Subscription ID'] = ws.subscription_id
output['Workspace'] = ws.name
output['Resource Group'] = ws.resource_group
output['Location'] = ws.location
output['Project Directory'] = project_folder
pd.set_option('display.max_colwidth', -1)
pd.DataFrame(data=output, index=['']).T

Found the config file in: C:\Users\samanoh\Downloads\pytest\aml_config\config.json

SDK version        1.0.2
Workspace          amlworkspace
Resource Group     ml
Location           eastus
Project Directory  ./automated-ml-regression

In [25]:
import azureml.dataprep as dprep

file_path = os.path.join(os.getcwd(), "dflows.dprep")

package_saved = dprep.Package.open(file_path)
dflow_prepared = package_saved.dataflows[0]
dflow_prepared.get_profile()

ColumnProfile
    name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_hour
    type: FieldType.DECIMAL

    min: 0.0
    max: 23.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 2.9004735128736314
           5%: 2.6935483870967736
          25%: 9.72888888888889
          50%: 16.0
          75%: 19.371339840283934
          95%: 22.69738615478863
          99%: 23.0
        99.9%: 23.0

    mean: 14.273096942095012
    std: 6.592418041656341
    variance: 43.45997563595602
    skewness: -0.6937232541232056
    kurtosis: -0.5704026843626946

ColumnProfile
    name: pickup_minute
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 4.9970064724919085
           5%: 4.958333333333332
          25%: 14.152787369501308
          50%: 29.38319678101912
          75%: 44.68251061666729
          95%: 56.44444444444443
          99%: 58.99089458689458
        99.9%: 59.0

    mean: 29.426968119713745
    std: 17.433338646215443
    variance: 303.9212963536289
    skewness: 0.01209987995920537
    kurtosis: -1.2098058967851313

ColumnProfile
    name: pickup_second
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.281314580941448
           5%: 5.0
          25%: 14.7831938902046
          50%: 29.929291652300503
          75%: 44.72495393403352
          95%: 56.757312181502535
          99%: 59.0
        99.9%: 59.0

    mean: 29.744307091737145
    std: 17.359452346582184
    variance: 301.35058577325776
    skewness: -0.025239883446314903
    kurtosis: -1.1961645502671543

ColumnProfile
    name: dropoff_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: dropoff_hour
    type: FieldType.DECIMAL

    min: 0.0
    max: 23.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 2.571532846715329
           5%: 2.0
          25%: 9.587951807228917
          50%: 15.99942046903373
          75%: 19.618440779610197
          95%: 22.8316528248918
          99%: 23.0
        99.9%: 23.0

    mean: 14.21047495120361
    std: 6.710927323145812
    variance: 45.03654553654502
    skewness: -0.6872915049780214
    kurtosis: -0.6195104887189147

ColumnProfile
    name: dropoff_minute
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.443829484212402
           5%: 4.846938775510205
          25%: 14.103649050560515
          50%: 28.836521826797053
          75%: 44.310225617310095
          95%: 56.68917215078801
          99%: 59.0
        99.9%: 59.0

    mean: 29.290663630448925
    std: 17.410794667682648
    variance: 303.13577096020657
    skewness: 0.02225137607086698
    kurtosis: -1.2180954968486808

ColumnProfile
    name: dropoff_second
    type: FieldType.DECIMAL

    min: 0.0
    max: 59.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 5.07801401869159
           5%: 5.0
          25%: 14.575147753196458
          50%: 29.597156862745095
          75%: 45.46489052312469
          95%: 56.27290969899664
          99%: 59.0
        99.9%: 59.0

    mean: 29.771958360442376
    std: 17.533654388525473
    variance: 307.42903621625857
    skewness: -0.021257484199354745
    kurtosis: -1.2259982569681813

ColumnProfile
    name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07810974121094
    max: -73.74594116210938
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.05780667017132
           1%: -73.96388164482019
           5%: -73.96557682545667
          25%: -73.95076226905958
          50%: -73.92548500022251
          75%: -73.8528886167291
          95%: -73.83015223452357
          99%: -73.82380685184164
        99.9%: -73.76971357836042

    mean: -73.91234267324884
    std: 0.05037566973466463
    variance: 0.002537708101216006
    skewness: 0.35217179637804596
    kurtosis: -0.9237433957073176

ColumnProfile
    name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.63198315073649
           1%: 40.711694619976235
           5%: 40.711488309113875
          25%: 40.721322365087275
          50%: 40.75650400888026
          75%: 40.80581032978464
          95%: 40.847773866571586
          99%: 40.86763925386369
        99.9%: 40.87784719435748

    mean: 40.764850170871135
    std: 0.04946738099841628
    variance: 0.002447021782842476
    skewness: 0.20597154382700308
    kurtosis: -0.7779448694112676

ColumnProfile
    name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -74.07745225481305
           1%: -73.98748916726308
           5%: -73.98822600068156
          25%: -73.96377479261037
          50%: -73.9350019782973
          75%: -73.87551631000726
          95%: -73.8125179533112
          99%: -73.77592230414089
        99.9%: -73.7326826639547

    mean: -73.9202410163864
    std: 0.05846273070558498
    variance: 0.0034178908815537482
    skewness: 0.6236218335708538
    kurtosis: -0.2626025605602158

ColumnProfile
    name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 40.59726576976287
           1%: 40.69275384663426
           5%: 40.6911352057206
          25%: 40.722595109224386
          50%: 40.75668532023167
          75%: 40.79179931273194
          95%: 40.84953765241194
          99%: 40.868000960894285
        99.9%: 40.87872977604942

    mean: 40.75831842985742
    std: 0.05173985161319653
    variance: 0.0026770122449555956
    skewness: 0.03904038865465824
    kurtosis: -0.20352465998584401

ColumnProfile
    name: passengers
    type: FieldType.DECIMAL

    min: 1.0
    max: 6.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 5.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 2.3924853610930357
    std: 1.831965540775002
    variance: 3.3560977425870457
    skewness: 0.7631442138548662
    kurtosis: -1.2346717789753168

ColumnProfile
    name: distance
    type: FieldType.DECIMAL

    min: 0.01
    max: 32.34
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.010874444444444445
           1%: 0.7438981481481483
           5%: 0.7381944444444445
          25%: 1.2429982414126322
          50%: 2.401680521901211
          75%: 4.744783727621484
          95%: 10.513581114391743
          99%: 14.901134421768697
        99.9%: 21.803484799999904

    mean: 3.5447023422251123
    std: 3.29429528344951
    variance: 10.852381414557687
    skewness: 1.9155639353754188
    kurtosis: 4.998980606397121

ColumnProfile
    name: cost
    type: FieldType.DECIMAL

    min: 0.1
    max: 88.0
    count: 6148.0
    missing_count: 0.0
    not_missing_count: 6148.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 2.338370909090909
           1%: 5.004913043478261
           5%: 5.0
          25%: 6.93128856402498
          50%: 10.523987142425682
          75%: 17.481124430659182
          95%: 33.23430212241121
          99%: 50.00934384617103
        99.9%: 63.17528888888852

    mean: 13.684336369551097
    std: 9.665712929780625
    variance: 93.42600644092835
    skewness: 1.7851755651828551
    kurtosis: 4.139722089510866

In [26]:
dflow_X = dflow_prepared.keep_columns(['pickup_weekday','pickup_hour', 'distance','passengers', 'vendor'])
dflow_y = dflow_prepared.keep_columns('cost')

In [27]:
from sklearn.model_selection import train_test_split

x_df = dflow_X.to_pandas_dataframe()
y_df = dflow_y.to_pandas_dataframe()

x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2, random_state=223)
# flatten y_train to 1d array
y_train.values.flatten()

array([26. ,  6.5, 15.5, ..., 24.5, 11. , 33.5])

# Auto ML

In [28]:
automl_settings = {
    "iteration_timeout_minutes" : 10,
    "iterations" : 30,
    "primary_metric" : 'spearman_correlation',
    "preprocess" : True,
    "verbosity" : logging.INFO,
    "n_cross_validations": 5
}

In [29]:
from azureml.train.automl import AutoMLConfig

# local compute
automated_ml_config = AutoMLConfig(task = 'regression',
                             debug_log = 'automated_ml_errors.log',
                             path = project_folder,
                             X = x_train.values,
                             y = y_train.values.flatten(),
                             **automl_settings)

In [30]:
from azureml.core.experiment import Experiment
experiment=Experiment(ws, experiment_name)
local_run = experiment.submit(automated_ml_config, show_output=True)

Parent Run ID: AutoML_f4581dfe-1623-4e70-b419-4f953f1c9b71
*******************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
*******************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0   StandardScalerWrapper ExtremeRandomTrees       0:00:28       0.9358    0.9358
         1   MaxAbsScaler ExtremeRandomTrees                0:00:50       0.8347    0.9358
         2   MaxAbsScaler ExtremeRandomTrees                0:00:29       0.9445    0.9445
         3   StandardScalerWrapper GradientBoosting         0:00:28       0.9475    0.9475
         4   StandardScalerWrapper RandomForest             0:00:37       0.9092    0.9475
         5   MaxAbsScaler ExtremeRandomTrees                0:00:24       0.8719    0.9475
         6   MaxAbsScaler LightGBM                          0:00:28       0.9479    0.9479
         7   StandardScalerWrapper LightGBM                 0:00:26       0.9326    0.9479
         8   StandardScalerWrapper LightGBM                 0:01:01       0.9307    0.9479
         9   TruncatedSVDWrapper GradientBoosting           0:00:57       0.9410    0.9479
        10   MaxAbsScaler DecisionTree                      0:00:24       0.9267    0.9479
        11   MaxAbsScaler SGD                               0:00:25       0.9558    0.9558
        12   MaxAbsScaler RandomForest                      0:01:14       0.9558    0.9558
        13   StandardScalerWrapper DecisionTree             0:00:25       0.8528    0.9558
        14   StandardScalerWrapper ElasticNet               0:00:25       0.9560    0.9560
        15   MaxAbsScaler SGD                               0:00:29       0.8174    0.9560
        16   MaxAbsScaler ExtremeRandomTrees                0:00:36       0.9333    0.9560
        17   MaxAbsScaler ExtremeRandomTrees                0:01:17       0.9495    0.9560
        18   StandardScalerWrapper RandomForest             0:00:51       0.9386    0.9560
        19   SparseNormalizer ExtremeRandomTrees            0:00:37       0.8770    0.9560
        20   MaxAbsScaler ExtremeRandomTrees                0:02:08       0.9556    0.9560
        21   MaxAbsScaler LightGBM                          0:00:47       0.9311    0.9560
        22   MaxAbsScaler DecisionTree                      0:00:26       0.9287    0.9560
        23   StandardScalerWrapper GradientBoosting         0:00:46       0.9481    0.9560
        24   StandardScalerWrapper LightGBM                 0:00:34       0.9437    0.9560
        25   MaxAbsScaler ExtremeRandomTrees                0:03:11       0.9494    0.9560
        26   MaxAbsScaler RandomForest                      0:01:11       0.9488    0.9560
        27   MaxAbsScaler RandomForest                      0:00:49       0.9523    0.9560
        28   StandardScalerWrapper RandomForest             0:00:29       0.9497    0.9560
        29                                                  0:03:26          nan    0.9560
ERROR: Run 'AutoML_f4581dfe-1623-4e70-b419-4f953f1c9b71_29' failed. Check the log for more details.

In [32]:
from azureml.widgets import RunDetails
RunDetails(local_run).show()

_AutoMLWidget(widget_settings={'childWidgetDisplay': 'popup', 'send_telemetry': False, 'log_level': 'NOTSET', â€¦

In [33]:
children = list(local_run.get_children())
metricslist = {}
for run in children:
    properties = run.get_properties()
    metrics = {k: v for k, v in run.get_metrics().items() if isinstance(v, float)}
    metricslist[int(properties['iteration'])] = metrics

import pandas as pd
rundata = pd.DataFrame(metricslist).sort_index(1)
rundata

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
explained_variance,0.679170,0.128399,0.795674,0.864722,0.757071,0.343023,0.861241,0.576015,0.851909,0.826856,...,0.848275,0.854374,0.809337,0.740873,0.863143,0.836991,0.845184,0.863291,0.857235,NaN
mean_absolute_error,3.147994,6.284894,2.239960,1.554173,2.700708,5.505773,1.609034,4.440999,1.766479,1.845293,...,1.507943,1.747757,1.969119,2.205279,1.634629,1.903894,1.772878,1.597910,1.611230,NaN
median_absolute_error,2.191316,4.157700,1.473957,0.882800,1.827804,4.435721,0.916173,3.624289,0.996712,1.059066,...,0.785500,0.986467,0.985678,0.945032,0.928572,1.258450,1.078046,0.951484,0.924434,NaN
normalized_mean_absolute_error,0.036819,0.073508,0.026198,0.018177,0.031587,0.064395,0.018819,0.051942,0.020661,0.021582,...,0.017637,0.020442,0.023031,0.025793,0.019118,0.022268,0.020735,0.018689,0.018845,NaN
normalized_median_absolute_error,0.025629,0.048628,0.017239,0.010325,0.021378,0.051880,0.010715,0.042389,0.011657,0.012387,...,0.009187,0.011538,0.011528,0.011053,0.010860,0.014719,0.012609,0.011128,0.010812,NaN
normalized_root_mean_squared_error,0.064115,0.111222,0.051103,0.041439,0.055791,0.091583,0.041967,0.073715,0.043420,0.047289,...,0.044447,0.043047,0.049234,0.058158,0.041681,0.045574,0.044393,0.041624,0.042503,NaN
normalized_root_mean_squared_log_error,0.096173,0.164196,0.075845,0.064175,0.090759,0.148363,0.064129,0.125700,NaN,0.064899,...,0.059162,NaN,0.071348,0.066593,0.068683,0.070007,0.066579,0.062397,0.063159,NaN
r2_score,0.678986,0.033656,0.795526,0.864561,0.756788,0.342527,0.861038,0.575564,0.851528,0.823858,...,0.844136,0.854136,0.809155,0.735396,0.862878,0.836810,0.844885,0.863075,0.857014,NaN
root_mean_squared_error,5.481858,9.509450,4.369308,3.543076,4.770093,7.830356,3.588188,6.302657,3.712424,4.043228,...,3.800212,3.680497,4.209513,4.972492,3.563730,3.896581,3.795622,3.558826,3.634029,NaN
root_mean_squared_log_error,0.311204,0.531317,0.245424,0.207661,0.293686,0.480084,0.207515,0.406750,NaN,0.210006,...,0.191440,NaN,0.230872,0.215486,0.222250,0.226534,0.215442,0.201909,0.204376,NaN
spearman_correlation,0.935769,0.834664,0.944481,0.947517,0.909245,0.871934,0.947937,0.932634,0.930717,0.941006,...,0.955580,0.931108,0.928744,0.948126,0.943730,0.949391,0.948849,0.952326,0.949719,NaN
spearman_correlation_max,0.935769,0.935769,0.944481,0.947517,0.947517,0.947517,0.947937,0.947937,0.947937,0.947937,...,0.956036,0.956036,0.956036,0.956036,0.956036,0.956036,0.956036,0.956036,0.956036,0.956036

In [34]:
best_run, fitted_model = local_run.get_output()
print(best_run)
print(fitted_model)

Run(Experiment: automated-ml-regression,
Id: AutoML_f4581dfe-1623-4e70-b419-4f953f1c9b71_14,
Type: None,
Status: Completed)
Pipeline(memory=None,
     steps=[('datatransformer', DataTransformer(logger=None, task=None)), ('standardscalerwrapper', <automl.client.core.common.model_wrappers.StandardScalerWrapper object at 0x0000017AE27217B8>), ('elasticnet', ElasticNet(alpha=0.2113157894736842, copy_X=True, fit_intercept=True,
      l1_ratio=0.791578947368421, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False))])

# Register model

In [35]:
description = 'Automated Machine Learning Model'
tags = None
local_run.register_model(description=description, tags=tags)
local_run.model_id # Use this id to deploy the model as a web service in Azure

Registering model AutoMLf4581dfe1best

'AutoMLf4581dfe1best'

# Test best accurate model

In [36]:
y_predict = fitted_model.predict(x_test.values)
print(y_predict[:10])

[ 7.4424596  12.27450759 22.94672686  8.00690673  7.06962422 10.51870306
 16.49425585 16.95870828 10.40416495  5.2138921 ]

In [37]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize=(14, 10))
ax1 = fig.add_subplot(111)

distance_vals = [x[4] for x in x_test.values]
y_actual = y_test.values.flatten().tolist()

ax1.scatter(distance_vals[:100], y_predict[:100], s=18, c='b', marker="s", label='Predicted')
ax1.scatter(distance_vals[:100], y_actual[:100], s=18, c='r', marker="o", label='Actual')

ax1.set_xlabel('distance (mi)')
ax1.set_title('Predicted and Actual Cost/Distance')
ax1.set_ylabel('Cost ($)')

plt.legend(loc='upper left', prop={'size': 12})
plt.rcParams.update({'font.size': 14})
plt.show()